<h1>Friend Tracker</h1>
<div>
  <app-profile-info
    name = "Khandaker Ehsanul Karim"
    profilePicPath = "assets/passport%20size%20photo%202.jpg"
    [age] = "26"
    bio = "I like Angular"
    birthday = "March 3"
    [interests] = "['Programming', 'VLSI', 'Robotics', 'Reading']"
  ></app-profile-info>
  <app-profile-info
    name = "Hasib"
    profilePicPath = "assets/hasib.jpg"
    [age] = "30"
    bio = "I don't like Angular"
    birthday = "April 12"
    [interests] = "['Cricket', 'Hiking', 'Traveling', 'Not Reading']"
  ></app-profile-info>
</div>
