<h1>Friend Tracker</h1>
<div>
  <app-profile-info
    [person]="myProfileData"
  ></app-profile-info>
  <app-profile-info
    [person]="friendsData[0]"
  ></app-profile-info>
  <app-profile-info
    [person]="friendsData[1]"
  ></app-profile-info>




<!--  <app-profile-info-->
<!--    name = "Hasib"-->
<!--    profilePicPath = "assets/hasib.jpg"-->
<!--    age = "30"-->
<!--    bio = "I don't like Angular"-->
<!--    birthday = "April 12"-->
<!--    interests = "['Cricket', 'Hiking', 'Traveling', 'Not Reading']"-->
<!--  ></app-profile-info>-->
<!--  <app-profile-info-->
<!--    [name] = "personName"-->
<!--    profilePicPath = "assets/badhon.jpg"-->
<!--    [age] = "32"-->
<!--    bio = "I don't like Angular"-->
<!--    birthday = "April 12"-->
<!--    [interests] = "['Cricket', 'Hiking', 'Traveling', 'Reading']"-->
<!--  ></app-profile-info>-->
</div>
